@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  --white: #F0F0F2;
  --blue: #023059;
  --lightBlue: #065473;
  --aquaBlue: #08748C;
  --gren: #02735E;
  --lightGray: #cecece
  --red: #dc143c;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
  margin-bottom: 5rem;
  line-height: 1.1;
  text-transform: uppercase;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.2rem;
}
p {
  margin-bottom: 3rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.main-bg {
  background-image: url('../img/bg-color2.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6rem var(--gap);
}

.main-section {
  height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 7px rgba(0,0,0, .5);
}

.menu-spacing {
  height: 6.5rem;
}

.menu-content {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
}

.menu h1 {
  font-size: 2.9rem;
  color: var(--blue);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  display: block;
  font-size: 1.9rem;
  color: var(--blue);
  position: relative;
  padding: 1.7rem;
  transition: all 300ms ease-in-out;

  &:hover {
    color: var(--aquaBlue);
  }
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1.2rem;
  left: 25%;
  width: 0%;
  height: 0.2rem;
  background-color: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 55%;
}

.intro-content {
  position: relative;
  top: -6rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content p {
  text-align: justify;
}

.intro-img img{
  max-width: 100%;
  height: auto;
}

.top3-content {
  min-height: 100vh;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

.description-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.drescription-heading {
  margin-bottom: 2rem;
}
.description-paragraph {
  padding-bottom: 8rem;
  text-align: justify;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -3.5rem;
  left: -1.5rem;
  transform: rotate(5deg);
}