@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

:root {
  --white: #f0f0f2;
  --blue: #023059;
  --lightBlue: #065473;
  --aquaBlue: #08748c;
  --gren: #02735e;
  --lightGrenn: #6ab04c;
  --lightGray: #cecece;
  --red: #dc143c;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
  margin-bottom: 5rem;
  line-height: 1.1;
  text-transform: uppercase;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.2rem;
}

p {
  margin-bottom: 3rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

table {
  min-width: 36rem;
  width: 100%;
  border-collapse: collapse;
}

thead th,
tfoot td {
  background-color: var(--blue);
}

table td,
table th {
  border: 0.2rem solid var(--lightBlue);
  text-align: left;
  padding: 1rem;
  white-space: nowrap;
}

table caption {
  text-align: left;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 1rem;
}

tfoot td {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
}

.main-bg {
  background-image: url("../img/bg-color2.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6rem var(--gap);
}

.main-section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.menu-spacing {
  height: 6.5rem;
}

.menu-content {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
}

.menu h1 {
  font-size: 2.9rem;
  color: var(--blue);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  display: block;
  font-size: 1.9rem;
  color: var(--blue);
  position: relative;
  padding: 1.7rem;
  transition: all 300ms ease-in-out;

  &:hover {
    color: var(--aquaBlue);
  }
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 25%;
  width: 0%;
  height: 0.2rem;
  background-color: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 55%;
}

.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content p {
  text-align: justify;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.top3-content {
  min-height: 100vh;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

.description-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.drescription-heading {
  margin-bottom: 2rem;
}
.description-paragraph {
  padding-bottom: 8rem;
  text-align: justify;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -3.5rem;
  left: -1.5rem;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
  width: 90%;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.table-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.table-content h2,
p {
  text-align: center;
}

.pricing-content {
  display: flex;
  flex-wrap: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.plan {
  background-color: var(--white);
  color: var(--blue);
  padding: 2.5rem;
  margin: 1.2rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.price {
  margin-bottom: 1rem;
  font-size: 3rem;
}

ul.features {
  list-style-type: none;
  text-align: left;
}

.features li {
  margin: 0.5rem;
}

.plan button {
  border: none;
  width: 100%;
  padding: 12px 35px;
  margin-top: 1rem;
  background-color: var(--lightGrenn);
  color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: var(--aquaBlue);
  }
}

.popular {
  border: 0.3rem solid var(--lightGrenn);
  position: relative;
  transform: scale(1.08);
}

.popular span {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--lightGrenn);
  color: #fff;
  padding: 4px 20px;
  font-size: 18px;
  border-radius: 5px;
}

.contact-form {
  grid-column: span 2;
}

.form-grid legend {
  font-style: italic;
  font-size: 1.4rem;
  margin: 1.5rem;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--white);
  font-size: 1.5rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--blue);
  width: 100%;
  padding: 1.5rem;
  color: var(--white);
  border-radius: 0.6rem;
  font-size: 1.5rem;
  outline: none;

}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 6px 2px var(--gren);
}

div.full-width {
  width: 100%;
  flex: 1 1 100%;
}

.form-group button {
  border: 0.5rem solid var(--blue);
  display: block;
  color: var(--blue);
  background-color: var(--white);
  padding: 1.3rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.9rem;
  transition: all 300ms ease-in-out;
  margin: auto;

  &:hover {
    color: var(--white);
    background-color: var(--blue);
  }
}

.footer {
  margin: 0;
  text-align: center;
  padding: 0 0 2rem 0;
  font-size: 1.5rem;
  color: var(--blue);
}

.footer a {
  color: inherit;
  font-weight: bold;
}

.close-menu {
  display: none;
}

@media (max-width: 800px) {
  .intro-content, .grid {
    grid-template-columns: 1fr;
  }

  .intro-content h2 {
    font-size: 4.3rem;
  }

  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .gallery-img img {
    width: 100%;
  }

  .table-content, .pricing-content {
    display: block;
  }

  .plan {
    margin-bottom: 3rem;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    padding: .5rem;
    border-radius: 15%;
    background-color: var(--blue);
    color: var(--white);
    font-size: 2rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }
}
